h1 {
font-family: Helvetica;
background-image:url("images/Dasmoto\'s\ Arts\ &\ Crafts\ project_CodAcad.webp");
color: khaki;
text-align:center;
font-weight: bold;
width: 500 px;
font-size: 100px;
}
h2{
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    background-color: aquamarine;
    font-weight: bold;

}
.Frames{
font-family: Helvetica;
color:white;
background-color: lightcoral;
font-weight: bold;

}
.Paint{
color:white;
background-color:lightblue;
font-weight: bold;
font-family: Helvetica;
}
strong{
    color:blue;
    font-family: Helvetica;
}
p{
    font-family: Helvetica, sans-serif;
}